textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

p {
	margin: 0px;
	user-select: none;
}

:root {
	--background: white;
	--nav-background: rgb(247, 247, 247);
	--content-background: rgb(245, 245, 245);
	--accent: rgb(12, 121, 235);
}

/* Dashboard Screen */

/* Synopsis Screen */

.content {
	display: flex;
	height: 100vh;
	flex-grow: 1;
	overflow-y: auto;
	background-color: var(--background);
}

.sideNav {
	display: flex;
	width: 300px;
	height: 100vh;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	overflow-y: auto;
	background-color: var(--nav-background);
}

@media (max-width: 767px) {
	.synopsisPage {
		display: flex;
		flex-direction: column;
	}
	.sideNav {
		display: none;
	}
	.content {
		padding-top: 60px;
	}
	.appointmentTable {
		display: none;
	}
}

.sideNavText {
	font-size: 17px;
	padding: 5px;
	cursor: pointer;
}

.sideNavText:hover {
	opacity: 0.7;
}

.topNav {
	display: inline-block;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	flex-direction: column;
	background-color: var(--nav-background);
}

.topNavText {
	font-size: 17px;
	cursor: pointer;
}

.topNavToggle {
	width: 100%;
	padding: 10px;
}

@media (min-width: 768px) {
	.synopsisPage {
		display: flex;
		flex-direction: row;
	}
	.topNav {
		display: none;
	}
	.appointmentCards {
		display: none;
	}
}

.itemCard {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 5px 10px;
	border-radius: 5px;
	background: var(--background);
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}

.sectionHeader {
	font-size: 40px;
	font-weight: 500;
	width: 100%;
	padding: 60px 0px 30px 0px;
}

.header {
	font-size: 23px;
	font-weight: 500;
}

.paragraph {
	font-size: 17px;
}

.archiveSelector {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 200px;
	background: #f0f0f0;
}

/* Bootstrap */

.bootstrapRow {
	width: 100%;
	margin: 0px;
}

.bootstrapColumn {
	padding: 0px;
}

/* Misc */

.active {
	font-weight: 700;
	color: var(--accent);
}

.row-full {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.hidden {
	opacity: 0;
}

.toggle {
	cursor: pointer;
}

.toggle:hover {
	opacity: 0.7;
}

.line-horizontal {
	width: 100%;
	height: 1px;
	background-color: lightgray;
	margin-top: 20px;
	margin-bottom: 20px;
}
