textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
	outline: 0px !important;
	-webkit-appearance: none;
	box-shadow: none !important;
}

p {
	margin: 0px;
	user-select: none;
}

.Card {
	margin: 10px 0px 10px 0px;
	padding: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-radius: 5px;
	cursor: pointer;
}

.Card:hover {
	color: white;
	background-color: midnightblue;
}
